<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/admin/panel.css}">
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<div class="page">

    <div th:replace="fragments/header :: header"></div>

    <h1 class="page-title">Admin panel</h1>

    <main class="content">

        <div class="admin-users">
            <form method="get" th:action="@{/admin/log}">
                <button class="btn btn-primary"
                        type="submit">
                    LOG LIST
                </button>
            </form>

            <form method="get" th:action="@{/admin/panel}" class="search-form">
                <input type="text"
                       name="q"
                       th:placeholder="#{admin.search}"
                       th:value="${q}"
                       required>
                <button class="btn-primary" type="submit" name="type" value="login">
                    🔍 login
                </button>

                <button class="btn-primary" type="submit" name="type" value="email">
                    🔍 email
                </button>
            </form>

            <div class="sort-links">
                <form method="get" th:action="@{/admin/panel}">
                    <button class="btn btn-primary" name="filter" value="banned">Banned</button>
                    <button class="btn btn-primary" name="filter" value="admin">Admin</button>
                    <button class="btn btn-primary" name="filter" value="moderator">Moder</button>
                    <button class="btn btn-primary" name="filter" value="user">User</button>
                </form>
            </div>
            <div class="user-card" th:each="user : ${pageUsers}">
                <div class="user-main">

                    <div class="user-info-left">
                        <div class="user-email" th:text="${'id: ' + user.id}"/>
                        <a class="user-login"
                           th:href="@{/profile/{id}-{login}(id=${user.id}, login=${user.login})}"
                           th:text="${user.login}"></a>
                        <div class="user-email" th:text="${user.email}"></div>
                    </div>

                    <div class="user-info-right">
                        <div class="user-role" th:text="${user.roles}"></div>
                        <div class="user-status"
                             th:classappend="${user.enabled} ? 'status-active' : 'status-banned'"
                             th:text="${user.enabled} ? 'Active' : 'Banned'">
                        </div>
                    </div>

                </div>

                <div class="user-actions">
                    <form th:if="${user.enabled}"
                          th:action="@{/admin/ban/{id}(id=${user.id})}"
                          method="post">
                        <button class="btn-danger">Ban</button>
                    </form>

                    <form th:if="${!user.enabled}"
                          th:action="@{/admin/unban/{id}(id=${user.id})}"
                          method="post">
                        <button class="btn-success">Unban</button>
                    </form>
                </div>
                <span th:text="${#temporals.format(user.registeredAt, 'yyyy-MM-dd HH:mm')}"></span>
            </div>

            <nav class="pagination" th:if="${pageUsers.totalElements > 1}">
                <ul>

                    <li th:classappend="${!pageUsers.hasPrevious()} ? 'disabled'">
                        <a th:if="${pageUsers.hasPrevious()}"
                           th:href="@{${baseUrl}(page=${pageUsers.number - 1},
                           filter=${filter}, type=${type}, q=${q})}">
                            ←
                        </a>
                        <span th:if="${!pageUsers.hasPrevious()}">←</span>
                    </li>

                    <li th:each="i : ${#numbers.sequence(0, pageUsers.totalPages - 1)}"
                        th:classappend="${i == pageUsers.number} ? 'active'">
                        <a th:href="@{${baseUrl}(page=${i},
                        filter=${filter}, type=${type}, q=${q})}"
                           th:text="${i + 1}"></a>
                    </li>

                    <li th:classappend="${!pageUsers.hasNext()} ? 'disabled'">
                        <a th:if="${pageUsers.hasNext()}"
                           th:href="@{${baseUrl}(page=${pageUsers.number + 1},
                           filter=${filter}, type=${type}, q=${q})}">
                            →
                        </a>
                        <span th:if="${!pageUsers.hasNext()}">→</span>
                    </li>

                </ul>
            </nav>

        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>