<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/panel.css}">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div class="page">

    <div th:replace="fragments/header :: header"></div>

    <h1 class="page-title">Admin panel</h1>

    <main class="content">

        <div class="admin-users">
            <form method="get" th:action="@{/admin/panel}" class="search-form">
                <input type="text"
                       name="q"
                       placeholder="Введите логин или email"
                       th:value="${q}"
                       required>
                <button type="submit" name="type" value="login">
                    🔍 login
                </button>

                <button type="submit" name="type" value="email">
                    🔍 email
                </button>
            </form>

            <div class="sort-links">
                <form method="get" th:action="@{/admin/panel}">
                    <button name="filter" value="banned">Banned</button>
                    <button name="filter" value="admin">Admin</button>
                    <button name="filter" value="moderator">Moder</button>
                    <button name="filter" value="user">User</button>
                </form>
            </div>
            <div class="user-card" th:each="user : ${users}">
                <div class="user-main">

                    <div class="user-info-left">
                        <div class="user-login" th:text="${user.login}"></div>
                        <div class="user-email" th:text="${user.email}"></div>
                    </div>

                    <div class="user-info-right">
                        <div class="user-role" th:text="${user.roles}"></div>
                        <div class="user-status"
                             th:classappend="${user.enabled} ? 'status-active' : 'status-banned'"
                             th:text="${user.enabled} ? 'Active' : 'Banned'">
                        </div>
                    </div>

                </div>

                <div class="user-actions">
                    <form th:if="${user.enabled}"
                          th:action="@{/admin/ban/{id}(id=${user.id})}"
                          method="post">
                        <button class="btn-danger">Ban</button>
                    </form>

                    <form th:if="${!user.enabled}"
                          th:action="@{/admin/unban/{id}(id=${user.id})}"
                          method="post">
                        <button class="btn-success">Unban</button>
                    </form>
                </div>
                <span th:text="${#temporals.format(user.registeredAt, 'yyyy-MM-dd HH:mm')}"></span>
            </div>

        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>