<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/profile/view.css}">
    <meta charset="UTF-8">
    <title th:text="${user.login}"/>
</head>

<body>
<div class="page">

    <div th:replace="fragments/header :: header"></div>

    <main class="content">

        <div class="profile-container">
            <div class="profile-card">
                <div class="avatar-wrapper">
                    <div class="role-badge admin" th:if="${user.isAdmin()}">
                        ADMIN
                    </div>

                    <div class="role-badge moderator" th:if="${user.isModerator}">
                        MODERATOR
                    </div>

                    <a th:if="${user.avatar != null}">
                        <img th:src="@{/avatars/{file}(file=${user.avatar})}" class="avatar">
                    </a>
                </div>
                <div class="profile-info">
                    <div class="info-row">
                        <span class="label" th:text="#{user.name}"/>
                        <span th:text="${user.name}"></span>
                    </div>
                    <div class="info-row">
                        <span class="label" th:text="#{user.login}"/>
                        <span th:text="${user.login}"></span>
                    </div>
                    <div class="info-row">
                        <span class="label" th:text="#{user.email}"/>
                        <span th:text="${user.email}"></span>
                    </div>
                    <div class="info-row">
                        <span class="label" th:text="#{user.created}"/>
                        <span th:text="${#temporals.format(user.registeredAt, 'yyyy-MM-dd HH:mm')}"></span>
                    </div>
                </div>
                <a  class="btn btn-primary"
                    th:if="${#authorization.expression('isAuthenticated()')
                    and #authentication.principal.id == user.id}"
                    href="/profile/edit"
                    th:text="#{profile.edit}"/>
            </div>
        </div>


    </main>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>