<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>

<body>
<div class="page">

    <div th:replace="fragments/header :: header"></div>

    <main class="content">

        <div class="profile-container">
            <div class="profile-card">
                <div class="avatar-wrapper">
                    <div class="role-badge admin" th:if="${user.isAdmin()}">
                        ADMIN
                    </div>

                    <div class="role-badge moderator" th:if="${user.isModerator}">
                        MODERATOR
                    </div>

                    <a th:if="${user.avatar != null}">
                        <img th:src="@{/avatars/{file}(file=${user.avatar})}" class="avatar">
                    </a>
                </div>
                <div class="profile-info">
                    <div class="info-row">
                        <span class="label">Name:</span>
                        <span th:text="${user.name}"></span>
                    </div>
                    <div class="info-row">
                        <span class="label">Login:</span>
                        <span th:text="${user.login}"></span>
                    </div>
                    <div class="info-row">
                        <span class="label">Email:</span>
                        <span th:text="${user.email}"></span>
                    </div>
                    <div class="info-row">
                        <span class="label">Created at:</span>
                        <span th:text="${#temporals.format(user.registeredAt, 'yyyy-MM-dd HH:mm')}"></span>
                    </div>
                </div>

            </div>
        </div>
        <a href="/profile/edit" class="edit-btn">Edit Profile</a>


    </main>

<div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>