<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/forum.css}">
    <meta charset="UTF-8">
    <title th:text="#{topic.edit}"/>
</head>

<body>
<div class="page">

    <div th:replace="fragments/header :: header"></div>

    <main class="content">
        <a href="/topic/add" class="btn-create-topic" th:text="#{topic.create}"/>
        <div class="topics-toolbar">
            <form method="get" th:action="@{/topic}" class="search-form">
                 <input type="text"
                       name="q"
                       th:placeholder="#{topic.search}"
                       th:value="${q}">
                <button type="submit">🔍</button>

                <input type="hidden" name="sort" th:value="${currentSort}">
            </form>
            <div class="sort-links">
                <form method="get" th:action="@{/topic}">
                    <button name="sort" value="likes" th:text="#{button.popular}"/>
                    <button name="sort" value="dateDesc" th:text="#{button.new}"/>
                    <button name="sort" value="dateAsc" th:text="#{button.old}"/>
                </form>
            </div>
        </div>
        <div class="topics-list">
            <div class="topic-card" th:each="t : ${topics}">
                <div class="topic-header">
                    <a th:href="@{'topic/' + ${t.id}}"
                       class="username">
                        <h2 th:text="${t.title}"></h2>
                    </a>
                    <form th:action="@{/topic/delete/{id}(id=${t.id})}"
                          sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')"
                          method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <button th:text="#{button.delete}"/>
                    </form>
                </div>

                <div class="topic-footer">
                    <div class="author-info">
                        <a th:href="@{/profile/{id}-{login}(id=${t.authorId}, login=${t.authorLogin})}">
                            <img th:src="@{/avatars/{file}(file=${t.authorAvatar})}" class="avatar">
                        </a>
                        <a th:href="@{/profile/{id}-{login}(id=${t.authorId}, login=${t.authorLogin})}"
                           class="username">
                            <span th:text="${t.authorLogin}" class="username"></span>
                        </a>
                    </div>
                </div>
                <div class="topic-footer-bar">
                    <span class="topic-date"
                          th:text="${#temporals.format(t.createdAt, 'yyyy-MM-dd HH:mm')}">
                          </span>

                    <span class="topic-comments">
                         <img src="/img/comments.webp" class="icon">
                          <span th:text="${t.commentsCount}"></span>
                         </span>

                    <span class="topic-likes">
                            <img src="/img/likes.webp" class="icon">
                         <span th:text="${t.likesCount}"></span>
                            </span>
                </div>
            </div>
        </div>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>