<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/topic/view.css}">
    <link rel="stylesheet" th:href="@{/css/easymde.min.css}">

    <script th:src="@{/js/easymde.min.js}"></script>

    <meta charset="UTF-8">
    <title th:text="${topic.title}"/>
</head>

<body>
<div class="page">

    <div th:replace="fragments/header :: header"></div>

    <main class="content">

        <div class="topic-card">
            <div class="topic-header">
                <div class="user-info">
                    <div class="avatar-wrapper">
                        <div class="role-badge admin" sec:authorize="hasRole('ADMIN')">
                            ADMIN
                        </div>

                        <div class="role-badge moderator" sec:authorize="hasRole('MODERATOR')">
                            MODERATOR
                        </div>

                        <a th:href="@{/profile/{id}-{login}(id=${topic.authorId}, login=${topic.authorLogin})}">
                            <img th:src="@{/avatars/{file}(file=${topic.authorAvatar})}" class="avatar">
                        </a>
                    </div>
                    <a th:href="@{/profile/{id}-{login}(id=${topic.authorId}, login=${topic.authorLogin})}">
                        <span th:text="${topic.authorLogin}"></span>
                    </a>
                    <a sec:authorize="isAuthenticated()"
                       th:if="${#authentication.principal.id == topic.authorId}"
                       th:href="@{/topic/edit/{id}(id=${topic.id})}"
                       th:text="#{target.edit}"/>
                </div>
                <span class="topic-date"
                      th:if="${topic.updatedAt() != null}"
                      th:text="#{forum.edit} + ' ' + ${#temporals.format(topic.updatedAt(), 'dd.MM.yyyy HH:mm')}"/>

            </div>

            <h2 th:text="${topic.title}"></h2>
            <p th:utext="${topic.content}"></p>

            <div class="topic-footer">

        <span class="topic-date"
              th:text="${#temporals.format(topic.createdAt, 'yyyy-MM-dd HH:mm')}"/>

                <form method="post" action="/topic/like">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input type="hidden" name="topicId" th:value="${topic.id()}">
                    <button type="submit" class="like-button">
                        <img src="/img/likes.png"
                             class="like-icon"
                             th:classappend="${topic.likedByMe()} ? 'liked' : 'unliked'">
                        <span th:text="${topic.likesCount()}"></span>
                    </button>
                </form>
            </div>
        </div>

        <h3 th:text="#{topic.comments}"/>
        <div th:each="c : ${comments}" class="comment-card">
            <div class="comment-header">
                <div class="user-info">
                    <div class="avatar-wrapper">
                        <div class="role-badge admin" sec:authorize="hasRole('ADMIN')">
                            ADMIN
                        </div>

                        <div class="role-badge moderator" sec:authorize="hasRole('MODERATOR')">
                            MODERATOR
                        </div>

                        <a th:href="@{/profile/{id}-{login}(id=${c.authorId()}, login=${c.authorLogin()})}">
                            <img th:src="@{/avatars/{file}(file=${c.authorAvatar()})}" class="avatar">
                        </a>
                    </div>
                    <a th:href="@{/profile/{id}-{login}(id=${c.authorId()}, login=${c.authorLogin()})}">
                        <span th:text="${c.authorLogin()}"></span>
                    </a>

                    <a sec:authorize="isAuthenticated()"
                       th:if="${#authentication.principal.id == c.authorId}"
                       th:href="@{/topic/comment/edit/{id}(id=${c.commentId()})}"
                       th:text="#{target.edit}"/>

                </div>

                <span th:if="${c.updatedAt() != null}"
                      class="comment-date"
                      th:text="#{forum.edit} + ' ' + ${#temporals.format(c.updatedAt(), 'dd.MM.yyyy HH:mm')}"/>

            </div>
            <p th:utext="${c.comment()}"></p>
            <form th:action="@{/topic/comment/delete/{id}(id=${c.commentId()})}"
                  sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')"
                  method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="topicId" th:value="${topic.id}"/>
                <button class="btn   btn-danger" th:text="#{button.delete}"/>
            </form>
            <div class="comment-footer">

                    <span class="comment-date"
                          th:text="${#temporals.format(c.dateCreated(), 'yyyy-MM-dd HH:mm')}"/>

                <form method="post" action="/topic/comment/like">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input type="hidden" name="commentId" th:value="${c.commentId()}">
                    <input type="hidden" name="topicId" th:value="${topic.id}">

                    <button type="submit" class="like-button">
                        <img src="/img/likes.png"
                             class="like-icon"
                             th:classappend="${c.likedByMe()} ? 'liked' : 'unliked'">
                        <span th:text="${c.likesCount()}"></span>
                    </button>
                </form>
            </div>
        </div>

        <nav class="pagination" th:if="${comments.totalElements > 1}">
            <ul>

                <li th:classappend="${!comments.hasPrevious()} ? 'disabled'">
                    <a th:if="${comments.hasPrevious()}"
                       th:href="@{${baseUrl}(page=${comments.number - 1})}">
                        ←
                    </a>
                    <span th:if="${!comments.hasPrevious()}">←</span>
                </li>

                <li th:each="i : ${#numbers.sequence(0, comments.totalPages - 1)}"
                    th:classappend="${i == comments.number} ? 'active'">
                    <a th:href="@{${baseUrl}(page=${i})}"
                       th:text="${i + 1}"></a>
                </li>

                <li th:classappend="${!comments.hasNext()} ? 'disabled'">
                    <a th:if="${comments.hasNext()}"
                       th:href="@{${baseUrl}(page=${comments.number + 1})}">
                        →
                    </a>
                    <span th:if="${!comments.hasNext()}">→</span>
                </li>

            </ul>
        </nav>

        <div class="comment-form">
            <form method="post" action="/topic/comment/add"
                  th:object="${commentTo}">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="topicId" th:value="${topic.id}">

                <div class="form-group">
                    <label for="comment" th:text="#{topic.comment}"/>

                    <textarea id="comment" th:field="*{comment}"></textarea>

                    <script>
                        var easyMDE = new EasyMDE({
                            element: document.getElementById("comment")});
                    </script>

                    <div class="field-error"
                         th:if="${#fields.hasErrors('comment')}"
                         th:errors="*{comment}">
                    </div>
                </div>

                <button class="btn btn-primary" type="submit" th:text="#{button.send}"/>
            </form>
        </div>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>