<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/topic.css}">
    <meta charset="UTF-8">
    <title th:text="${topicDto.title}"/>
</head>

<body>
<div class="page">

    <div th:replace="fragments/header :: header"></div>

    <main class="content">

        <div class="topic-card">
            <div class="topic-header">
                <div class="user-info">
                    <div class="avatar-wrapper">
                        <div class="role-badge admin" sec:authorize="hasRole('ADMIN')">
                            ADMIN
                        </div>

                        <div class="role-badge moderator" sec:authorize="hasRole('MODERATOR')">
                            MODERATOR
                        </div>

                        <a th:href="@{/profile/{id}-{login}(id=${topicDto.authorId}, login=${topicDto.authorLogin})}">
                            <img th:src="@{/avatars/{file}(file=${topicDto.authorAvatar})}" class="avatar">
                        </a>
                    </div>
                    <a th:href="@{/profile/{id}-{login}(id=${topicDto.authorId}, login=${topicDto.authorLogin})}">
                        <span th:text="${topicDto.authorLogin}"></span>
                    </a>
                    <a sec:authorize="isAuthenticated()"
                       th:if="${#authentication.principal.id == topicDto.authorId}"
                       th:href="@{/topic/edit/{id}(id=${topicDto.id})}"
                       th:text="#{target.edit}">✏</a>
                </div>
                <span th:text="${#temporals.format(topicDto.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <h2 th:text="${topicDto.title}"></h2>
            <p th:text="${topicDto.content}"></p>
            <form method="post" action="/topic/like/add">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="id" th:value="${topicDto.id}">
                <button type="submit">LIKE</button>
            </form>
            <form method="post" action="/topic/like/delete">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="id" th:value="${topicDto.id}">
                <button type="submit">DISLIKE</button>
            </form>
            <span th:text="${topicDto.likesCount}"></span>
        </div>

        <h3 th:text="#{topic.comments}"/>
        <div th:each="c : ${commentsDto}" class="comment-card">
            <div class="comment-header">
                <div class="user-info">
                    <div class="avatar-wrapper">
                        <div class="role-badge admin" sec:authorize="hasRole('ADMIN')">
                            ADMIN
                        </div>

                        <div class="role-badge moderator" sec:authorize="hasRole('MODERATOR')">
                            MODERATOR
                        </div>

                        <a th:href="@{/profile/{id}-{login}(id=${c.authorId()}, login=${c.authorLogin()})}">
                            <img th:src="@{/avatars/{file}(file=${c.authorAvatar()})}" class="avatar">
                        </a>
                    </div>
                    <a th:href="@{/profile/{id}-{login}(id=${c.authorId()}, login=${c.authorLogin()})}">
                        <span th:text="${c.authorLogin()}"></span>
                    </a>
                </div>
                <span th:text="${#temporals.format(c.dateCreated(), 'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <p th:text="${c.comment()}"></p>
            <form th:action="@{/topic/comment/delete/{id}(id=${c.commentId()})}"
                  sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')"
                  method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="topicId" th:value="${topicDto.id}"/>
                <button th:text="#{button.delete}"/>
            </form>
            <a sec:authorize="isAuthenticated()"
               th:if="${#authentication.principal.id == c.authorId()}"
               th:href="@{/topic/comment/edit/{id}(id=${c.commentId()})}"
               th:text="#{target.edit}"/>
                <form method="post" action="/topic/comment/like/add">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input type="hidden" name="id" th:value="${c.commentId()}">
                    <input type="hidden" name="topicId" th:value="${topicDto.id}">
                    <button type="submit">LIKE</button>
                </form>
                <form method="post" action="/topic/comment/like/delete">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input type="hidden" name="id" th:value="${c.commentId()}">
                    <input type="hidden" name="topicId" th:value="${topicDto.id}">
                    <button type="submit">DISLIKE</button>
                </form>
                <span th:text="${c.likesCount()}"></span>
        </div>

        <div class="comment-form">
            <form method="post" action="/topic/comment/add"
                  th:object="${commentTo}">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="topicId" th:value="${topicDto.id}">

                <div class="form-group">
                    <label for="comment" th:text="#{topic.comment}"/>

                    <textarea id="comment" th:field="*{comment}" placeholder="Write comment..."></textarea>

                    <div class="field-error"
                         th:if="${#fields.hasErrors('comment')}"
                         th:errors="*{comment}">
                    </div>
                </div>

                <button type="submit" th:text="#{button.send}"/>
            </form>
        </div>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>