<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/topic.css}">
    <meta charset="UTF-8">
    <title>Forum</title>
</head>

<body>
<div class="page">

    <div th:replace="fragments/header :: header"></div>

    <main class="content">

        <div class="topic-card">
            <div class="topic-header">
                <div class="user-info">
                    <div class="avatar-wrapper">
                        <div class="role-badge admin" th:if="${topic.author.isAdmin()}">
                            ADMIN
                        </div>

                        <div class="role-badge moderator" th:if="${topic.author.isModerator()}">
                            MODERATOR
                        </div>

                        <a th:href="@{/profile/{id}-{login}(id=${topic.author.id}, login=${topic.author.login})}">
                            <img th:src="@{/avatars/{file}(file=${topic.author.avatar})}" class="avatar">
                        </a>
                    </div>
                    <a th:href="@{/profile/{id}-{login}(id=${topic.author.id}, login=${topic.author.login})}">
                        <span th:text="${topic.author.login}"></span>
                    </a>
                    <a sec:authorize="isAuthenticated()"
                       th:if="${#authentication.principal.id == topic.author.id}"
                       th:href="@{/topic/edit/{id}(id=${topic.id})}">
                        ✏ Редактировать
                    </a>
                </div>
                <span th:text="${#temporals.format(topic.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <h2 th:text="${topic.title}"></h2>
            <p th:text="${topic.content}"></p>
            <form method="post" action="/topic/like/add">
                <input type="hidden" name="id" th:value="${topic.id}">
                <button type="submit">LIKE</button>
            </form>
            <form method="post" action="/topic/like/delete">
                <input type="hidden" name="id" th:value="${topic.id}">
                <button type="submit">DISLIKE</button>
            </form>
            <span th:text="${topic.likedUsers.size()}"></span>
        </div>

        <h3>Комментарии</h3>
        <div th:each="c : ${content}" class="comment-card">
            <div class="comment-header">
                <div class="user-info">
                    <div class="avatar-wrapper">
                        <div class="role-badge admin" th:if="${c.author.isAdmin()}">
                            ADMIN
                        </div>

                        <div class="role-badge moderator" th:if="${c.author.isModerator()}">
                            MODERATOR
                        </div>

                        <a th:href="@{/profile/{id}-{login}(id=${c.author.id}, login=${c.author.login})}">
                            <img th:src="@{/avatars/{file}(file=${c.author.avatar})}" class="avatar">
                        </a>
                    </div>
                    <a th:href="@{/profile/{id}-{login}(id=${c.author.id}, login=${c.author.login})}">
                        <span th:text="${c.author.login}"></span>
                    </a>
                </div>
                <span th:text="${#temporals.format(c.dateCreated, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <p th:text="${c.comment}"></p>
            <form th:action="@{/topic/comment/delete/{id}(id=${c.id})}"
                  sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')"
                  method="post">
                <input type="hidden" name="topicId" th:value="${topic.id}"/>
                <button>Удалить</button>
            </form>
            <a sec:authorize="isAuthenticated()"
               th:if="${#authentication.principal.id == topic.author.id}"
               th:href="@{/topic/comment/edit/{id}(id=${topic.id})}">
                ✏ Редактировать
            </a>
            <form method="post" action="/topic/comment/like/add">
                <input type="hidden" name="id" th:value="${c.id}">
                <input type="hidden" name="topicId" th:value="${c.topic.id}">
                <button type="submit">LIKE</button>
            </form>
            <form method="post" action="/topic/comment/like/delete">
                <input type="hidden" name="id" th:value="${c.id}">
                <input type="hidden" name="topicId" th:value="${c.topic.id}">
                <button type="submit">DISLIKE</button>
            </form>
            <span th:text="${c.likedUsers.size()}"></span>
        </div>

        <div class="comment-form">
            <form method="post" action="/topic/comment/add">
                <input type="hidden" name="topicId" th:value="${topic.id}">
                <textarea name="comment" placeholder="Write comment..."></textarea>
                <button type="submit">Отправить</button>
            </form>
        </div>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>