.content {
    margin: 0 auto;
}

.topics-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.topic-card {
    width: 600px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.topic-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topic-header h2 {
    margin: 0;
    font-size: 1.5em;
}

.topic-body p {
    margin: 10px 0;
}

.topic-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;

    /*font-size: 13px;*/
    /*color: #666;*/
}

.author-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-info .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.author-info .username {
    font-weight: bold;
}

.topics-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 16px;
    gap: 12px;
}

.topic-footer-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 6px;
    margin-top: 8px;

    border-top: 1px solid #e0e0e0;

    font-size: 13px;
    color: #666;
}

.topic-create {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.topic-comments {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.topic-likes {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.icon {
    width: 14px;
    height: 14px;
    opacity: 0.75;
}
