<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="footer">
    <footer class="footer">
        <div class="footer-content">

            <div class="footer-links">
                <a th:href="@{/}" th:text="#{forum.home}"/>
                <span>•</span>
                <a th:href="@{/topic}" th:text="#{forum.topics}"/>
                <span>•</span>
            </div>

            <div class="footer-text">
                © 2025 Forum Project
            </div>

        </div>
    </footer>
</div>

</body>
</html>