<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<header class="header">
    <div class="header-inner">

        <div class="header-left">
            <a th:href="@{/}" class="logo">
                <img src="/img/logo.jpg" alt="Logo">
            </a>
        </div>

        <nav class="nav">
            <a th:href="@{/}" th:classappend="${activePage=='home'} ? 'active'" class="nav-item">Главная</a>

            <a th:href="@{/forum}" th:classappend="${activePage=='forum'} ? 'active'" class="nav-item">Форум</a>

            <a href="/admin/panel" sec:authorize="hasRole('ADMIN')" class="nav-item">Admin panel</a>
        </nav>

        <div class="auth">
            <span th:if="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/profile/{id}-{login}
                (id=${#authentication.principal.getId()}, login=${#authentication.principal.getLogin()})}"
                   class="profile-link"
                   th:text="${#authentication.name}"></a>
                |
                <a th:href="@{/logout}">Выход</a>
            </span>

            <span th:if="${!#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/login}">Войти</a> |
                <a th:href="@{/register}">Регистрация</a>
            </span>
        </div>

    </div>
</header>

</body>
</html>