<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
    <header style="padding: 10px; background: #eee;">
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/register}">Register</a>
        </span>

        <span sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post" style="display:inline;">
                <button type="submit">Выйти</button>
            </form>
        </span>
    </header>
</div>