<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<header class="header">
    <div class="header-inner">

        <div class="header-left">
            <a th:href="@{/}" class="logo">
                <img src="/img/logo.jpg" alt="Logo">
            </a>
        </div>

        <nav class="nav">
            <a th:href="@{/}" th:classappend="${activePage=='home'} ? 'active'" class="nav-item"
               th:text="#{forum.home}"/>

            <a th:href="@{/topic(sort='DATE_DESC')}"
               th:classappend="${activePage=='forum'} ? 'active'" class="nav-item"
               th:text="#{forum.topics}"/>

            <a href="/admin/panel" sec:authorize="hasRole('ADMIN')" class="nav-item">Admin panel</a>
        </nav>

        <div class="auth">
            <span th:if="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/profile/{id}-{login}
                (id=${#authentication.principal.getId()}, login=${#authentication.principal.getLogin()})}"
                   class="profile-link"
                   th:text="${#authentication.name}"></a>
                |
                  <form th:action="@{/logout}" method="post" style="display:inline">
                      <button type="submit" th:text="#{forum.logout}"/>
                 </form>
            </span>

            <span th:if="${!#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/login}" th:text="#{forum.login}"></a> |
                <a th:href="@{/register}" th:text="#{forum.register}"></a>
            </span>
            |
            <a th:href="@{${currentUrl}(lang='ru')}">RU</a>
            |
            <a th:href="@{${currentUrl}(lang='en')}">EN</a>
        </div>

    </div>
</header>

</body>
</html>