<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/topic-edit.css}">
    <meta charset="UTF-8">
    <title th:text="#{comment.edit}"/>
</head>
<body>
<div class="page">

    <div th:replace="fragments/header :: header"></div>

    <main class="content">
        <div class="form-container">

            <h2 th:text="#{comment.edit}"/>

            <form th:action="@{/topic/comment/edit/{id}(id=${commentTo.id})}"
                  th:object="${commentTo}" method="post">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{topicId}">

                <div class="form-group">
                    <label for="comment" th:text="#{comment.content}"/>

                    <textarea id="comment" th:field="*{comment}" rows="6"></textarea>

                    <div class="field-error"
                         th:if="${#fields.hasErrors('comment')}"
                         th:errors="*{comment}">
                    </div>
                </div>

                <button type="submit" th:text="#{button.save}" />
            </form>

        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>