<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{forum.home}"/>

    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
<div class="page">

    <div th:replace="fragments/header :: header"></div>

    <main class="content">

        <div class="home-wrapper">
            <div class="home-box">

                <h1 class="home-title">Forum</h1>

                <div class="home-content">
                    <a href="http://projects.spring.io/spring-security/">Spring Security</a>,
                    <a href="https://docs.spring.io/spring/docs/current/spring-framework-reference/html/mvc.html">Spring
                        MVC</a>,
                    <a href="http://projects.spring.io/spring-data-jpa/">Spring Data JPA</a>,
                    <a href="http://spring.io/blog/2014/05/07/preview-spring-security-test-method-security">Spring
                        Security
                        Test</a>,
                    <a href="http://hibernate.org/orm/">Hibernate ORM</a>,
                    <a href="http://hibernate.org/validator/">Hibernate Validator</a>,
                    <a href="http://www.slf4j.org/">SLF4J</a>,
                    <a href="https://www.thymeleaf.org/documentation.html">Thymeleaf</a>,
                    <a href="https://github.com/ben-manes/caffeine">Caffeine</a>,
                    <a href="http://www.postgresql.org/">PostgreSQL</a>,
                    <a href="https://junit.org/junit5/">JUnit 5</a>

                    <p th:utext="#{forum.description}"/>

                </div>

            </div>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>