<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body class="page">

<div th:replace="fragments/header :: header"></div>

<main class="content">

    <div class="form-container">
        <h2>Вход</h2>

        <div th:if="${loginError}" class="form-error" th:text="${loginError}"></div>

        <form th:action="@{/login}"
              th:object="${loginTo}"
              method="post">


            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <div class="form-group">

                <label>Email</label>

                <input type="email" th:field="*{email}" required>

            </div>

            <div class="form-group">

                <label>Password</label>

                <input type="password" th:field="*{password}" required>

            </div>

            <button type="submit">Войти</button>
        </form>

        <div class="form-footer" style="text-align:center; margin-top: 15px;">
            <span>Нет аккаунта?</span>
            <a th:href="@{/register}">Регистрация</a>
        </div>
    </div>

</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>