<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div class="page">

    <div th:replace="fragments/header :: header"></div>

    <main class="content">

<h1>Registration</h1>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/register}" th:object="${registrationTo}" method="post">

    <label>Email:</label><br>
    <input type="text" th:field="*{email}" required/><br><br>

    <label>Login:</label><br>
    <input type="text" th:field="*{login}" required/><br><br>

    <label>Password:</label><br>
    <input type="password" th:field="*{password}" required/><br><br>

    <label>Confirm Password:</label><br>
    <input type="password" th:field="*{confirmPassword}" required/><br><br>

    <button type="submit">Register</button>
</form>
</main>

<div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>
</html>