<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<h1>Registration</h1>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/register}" th:object="${registrationTo}" method="post">

    <label>Email:</label><br>
    <input type="text" th:field="*{email}" required/><br><br>

    <label>Login:</label><br>
    <input type="text" th:field="*{login}" required/><br><br>

    <label>Password:</label><br>
    <input type="password" th:field="*{password}" required/><br><br>

    <label>Confirm Password:</label><br>
    <input type="password" th:field="*{confirmPassword}" required/><br><br>

    <button type="submit">Register</button>
</form>

</body>
</html>