<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/forum.css}">
    <meta charset="UTF-8">
    <title>Forum</title>
</head>

<body>
<div class="page">

    <div th:replace="fragments/header :: header"></div>

    <main class="content">
        <a href="/forum/add/topic" class="btn-create-topic">Create topic</a>

        <div class="topics-list">
            <div class="topic-card" th:each="t : ${topics}">
                <div class="topic-header">
                    <a th:href="@{'forum/' + ${t.id}}"
                       class="username">
                        <h2 th:text="${t.title}"></h2>
                    </a>
                    <form th:action="@{/forum/topic/delete/{id}(id=${t.id})}"
                          sec:authorize="hasRole('ADMIN', 'MODER')"
                          method="post">
                        <button>Удалить</button>
                    </form>
                </div>

                <div class="topic-footer">
                    <div class="author-info">
                        <a th:href="@{/profile/{id}-{login}(id=${t.author.id}, login=${t.author.login})}">
                            <img th:src="@{/avatars/{file}(file=${t.author.avatar})}" class="avatar">
                        </a>
                        <a th:href="@{/profile/{id}-{login}(id=${t.author.id}, login=${t.author.login})}"
                           class="username">
                            <span th:text="${t.author.login}" class="username"></span>
                        </a>
                    </div>
                    <span class="created-date" th:text="${#temporals.format(t.dateCreated, 'yyyy-MM-dd HH:mm')}"></span>
                </div>
            </div>
        </div>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>