<!DOCTYPE html>
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>Forum</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<a href="/forum" class="btn">Back</a>
<h1 th:text="${topic.author.login}"></h1>
<h1 th:text="${topic.title}"></h1>
<h1 th:text="${topic.content}"></h1>


<hr>

<h2>Comments</h2>

<div th:each="c : ${content}">
    <div class="user-info">
        <a th:href="@{/profile/{id}-{login}(id=${c.author.id}, login=${c.author.login})}">
            <img th:src="@{/avatars/{file}(file=${c.author.avatar})}" class="avatar">
        </a>

        <a th:href="@{/user/{id}(id=${c.author.id})}" class="username">
            <span th:text="${c.author.name}"></span>
        </a>
    </div>
    <span th:text="${c.comment}"></span>
    <br>
    <hr>
</div>

<hr>

<form method="post" action="/forum/add/comment">
    <input type="hidden" name="topicId" th:value="${topic.id}">
    <textarea name="comment" placeholder="Write comment..."></textarea>
    <button type="submit">Send</button>
</form>
</body>